

a {
	text-decoration: none;
	color: rgb(46, 44, 44);
	font-family: Arial, Helvetica, sans-serif;
	background-color: transparent;
}

a:hover {
	color: rgb(84, 84, 84);
}

.ddd {
	color: rgb(84, 84, 84);
	background-color: transparent;
	border-color: transparent;
	padding: 0.2px;
}

.Header {
	min-height: 100vh;
	background-color: #eae5e5;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	/* background-color: #ffffff; */
	color: rgb(56, 56, 56);
}
  
.Head {
	height: 12vh;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid #adadad;
	
}
  
.Body {
	flex: 100%;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
  


  
.Input {
	border: 1px solid rgb(183, 182, 182);
	animation: animInput 8s;

	/* background-color: #f5f5f7; */
}
  
.Input:hover {
	box-shadow: 1px 1px 9px 1px rgb(198, 196, 196);
	border: 1px solid #ffffff;
	background-color: white;
	/* box-shadow: 2px 2px 2px 0.5px rgb(178, 174, 174); */
	/* border: 1px solid rgb(222, 219, 219); */
	/* background-color: #f9f9fd; */
}

.InputError {
	border: 1px solid rgb(190, 10, 10);

	/* background-color: #f5f5f7; */
}
  
.InputError:hover {
	box-shadow: 1px 1px 9px 1px rgb(198, 196, 196);
	border: 1px solid rgb(190, 10, 10);
	/* box-shadow: 2px 2px 2px 0.5px rgb(178, 174, 174); */
	/* border: 1px solid rgb(222, 219, 219); */
	/* background-color: #f9f9fd; */
}

  
.Image {
	width: 300px;
	padding-bottom: -20px;
	justify-content: start;
	animation: animImg 10s;


}

.ImageText {
	width: 300px;
	padding-bottom: 50px;
	padding-top: 20px;
	justify-content: start;
	animation: animText 5s;

}
.Image1 {
	width: 210px;
	padding-top: 15px;
	animation: animImg1 2s;

}
.Image2 {
	width: 18px;
	padding-top: 54px;
	margin: 5px;
	animation: animImg2 2s;

	
}
.Image3 {
	width: 65px;
	animation: animImg3 4s;

	
	
}



@keyframes animText {
    0% {
		opacity: 0.0;

    }
	90% {
		opacity: 0.0;
	}
    100% {
		opacity: 1;
    }
}

@keyframes animImg1 {
    0% {
		transform: translateX(-1000px);
		opacity: 0.1;

    }
    100% {
        transform: translateX(0);
		opacity: 1;
    }
}

@keyframes animImg2 {
    0% {
		transform: translateY(-1000px);


    }


    100% {
        transform: translateY(0);

    }
}

@keyframes animImg3 {
    0% {
		transform: translateY(30000px);
		rotate: -90deg;
		

    }
	80% {
		transform: translateY(0px);

		

    }

	90% {
		rotate: -90deg;
		transform: translateY(25px);

    }
	95% {
		transform: translateY(25px);
		rotate: 0deg
	}





    100% {
        transform: translateY(0);

    }
}

@keyframes animImg {
    0% {
		transform: translateY(80px);

    }
    50% {
        transform: translateY(80px);
    }
	75% {
        transform: translateY(0);
    }
}

@keyframes animInput {
    0% {
		transform: translateY(-10px);
		opacity: 0.0;

    }
	75% {
        transform: translateY(-10px);
		opacity: 0.0;

    }
	100% {
        transform: translateY(0);
		opacity: 1;

    }
}

	


  
.ButtonText {
	border: none;
	background-color: inherit;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	padding-right: 20px;
	animation: animBox1 7s;

}

  
.ButtonText:hover {background: #eee; border-radius: 15px;}
  
.BoxButton {
	padding-left: 40px;
}
  
.BoxFooterOne {
	flex: 100%;
	height: 10vh;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 2px solid #adadad;
	z-index: 2;
}
  
.BoxFooterTwo {
	flex: 100%;
	height: 10vh;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-top: 2px solid #adadad;
	padding-right: 30px;
	z-index: 2;

}


.IconCorrect {
	height: 22px;
	padding-top: 10px;
	padding-bottom: 15px;
	justify-content: center;
}


.Content {
	border-radius: 20px;
	border: 1px solid rgb(179, 175, 175);
	padding: 30px;
	animation: animCont 4s;
	text-align: center;
}

.Contente {
	border-radius: 20px;
	border: 1px solid rgb(179, 175, 175);
	padding: 40px;
	height: 80px;
	width: 280px;
	margin-bottom: 25px;



	animation: animConte 4s;
	
}

@keyframes animCont {
	0% {
		transform: translateY(-100px);

	}
	50% {
		transform: translateY(-100px);
	}
	100% {
		transform: translateY(0);
	}
	
}

@keyframes animConte {
	0% {
		opacity: 0.0;
	}
	75% {
		opacity: 0.0;
	}
	100% {
		opacity: 1;
	}
	
}
/* .Content:hover {
	box-shadow: 1px 1px 9px 1px rgb(198, 196, 196);
	

} */

.Inpute {
	border: 1px solid rgb(183, 182, 182);


	/* background-color: #f5f5f7; */
}
  
.Inpute:hover {
	box-shadow: 1px 1px 9px 1px rgb(198, 196, 196);
	background-color: white;
	border: 1px solid #ffffff;
	/* box-shadow: 2px 2px 2px 0.5px rgb(178, 174, 174); */
	/* border: 1px solid rgb(222, 219, 219); */
	/* background-color: #f9f9fd; */
}

.ImageTop  {
	height: 55px;
	margin-top: 10px;
}
  
.circulo  {
	background: rgb(150, 148, 148);
    border-radius: 50%;
    width: 15px;
    height: 15px;
	animation: animImg2 2s;
	margin-top: 55px;
	margin-left: 5px;
	margin-right: 5px;

	
	
}

.Head2 {
	height: 12vh;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid #adadad;
	animation: animHead 4s;
	z-index: 2;
	
}
@keyframes animHead {
	0% {
	 transform: translateX(2000px);

	}

	100% {
		transform: translateX(0px);
	}

   }

@keyframes animFooter {
	0% {
	 transform: translateX(-2000px);

	}

	100% {
		transform: translateX(0px);
	}

   }

@keyframes animBox1 {
	0% {
	 opacity: 0.0;

	}

	90% {
		opacity: 0.0;
	}

   }


   



@-webkit-keyframes bob {
	0% {
	  -webkit-transform: translateY(-8px);
	  transform: translateY(-8px);
	}
	50% {
	  -webkit-transform: translateY(-4px);
	  transform: translateY(-4px);
	}
	100% {
	  -webkit-transform: translateY(-8px);
	  transform: translateY(-8px);
	}
  }
	@keyframes bob {
	0% {
	  -webkit-transform: translateY(-8px);
	  transform: translateY(-8px);
	}
	50% {
	  -webkit-transform: translateY(-4px);
	  transform: translateY(-4px);
	}
	100% {
	  -webkit-transform: translateY(-8px);
	  transform: translateY(-8px);
	}
  }
@-webkit-keyframes bob-float {
	100% {
	  -webkit-transform: translateY(-8px);
	  transform: translateY(-8px);
	}
  }
	@keyframes bob-float {
	100% {
	  -webkit-transform: translateY(-8px);
	  transform: translateY(-8px);
	}
  }
.bob {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
  }
  .bob:hover, .bob:focus, .bob:active {
	-webkit-animation-name: bob-float, bob;
	animation-name: bob-float, bob;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
  }
.input-with-hint {
	padding: 0.85em 1em;
	border-color: transparent;
	font-size: 12pt;
	color: rgb(83, 82, 82);
	width: 210px;
	border-radius: 30px;
	background-color: transparent;
	
  }
.input-with-hint:hover {
	border-color: transparent;
	background-color:transparent;

  }
.input-with-hint:focus {
	border-color: transparent;
	background-color: transparent;

	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px transparent,
	  0 0 8px transparent;
	box-shadow: inset 0 1px 1px transparent,
	  0 0 8px transparent;
	
  }
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(159, 157, 157);
	opacity: 1; /* Firefox */
  }

.Card {
	background-color: #eae5e5;
	;
}

.out {
	width: 70vmin;
	color:#646464;


	
}

.oute {
	width: 70vmin;

	
}

.color {
	color:#c3c2c2;
	right: 30px;
}

.scroller {
	overflow-y: scroll;
	height: 500px;
}

.scroller::-webkit-scrollbar,
.scroller::-webkit-scrollbar-thumb {
  width: 25px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
  color: rgb(211, 210, 210);
}

.scroller::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}



